/******************************************** Global/Default ************************************/


/******************************************** Global/Default ************************************/


/******************************************** Header Part ************************************/


/******************************************** Header Part ************************************/


/******************************************** BODY Container ************************************/

.container {
    background-color: transparent!important;
}

tr.task-done td {
    background: #fbe6e8;
    border-top: 1px solid #fff;
}


/******************************************** BODY Container ************************************/


/******************************************** Footer Part ************************************/


/******************************************** Footer Part ************************************/